# Replace index to all-tables.php

RewriteEngine on
RewriteCond %{HTTP_HOST} ^htthinh1999.toh.info$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.htthinh1999.toh.info$
RewriteCond %{REQUEST_URI} !views/
RewriteRule (.*) /views/$1 [L]


# Replace all error pages
ErrorDocument 401 views/401.php
ErrorDocument 403 views/404.php
ErrorDocument 404 views/404.php
ErrorDocument 500 views/500.php
