# Replace index to all-tables.php

RewriteEngine On

RewriteCond %{REQUEST_URI} !^/views/
RewriteRule ^(.*)$ /views/$1 [L,R=301]


# Replace all error pages
ErrorDocument 401 views/401.php
ErrorDocument 403 views/404.php
ErrorDocument 404 views/404.php
ErrorDocument 500 views/500.php
