.wrap-all-tables-left{
    padding: 0 25px;
}

.wrap-tables{
    padding: 1.5rem 0 0 0;
    border-radius: 5px;
}

.table-food{
    padding: 15px;
    margin: auto;
    border-radius: 15px;
}

.table-description{
    margin: 0px;
}